{% extends 'base.html.twig' %}

{% block body %}
    <h2>Filtrer les sorties</h2>
    {{ form_start(form) }}
        <div class="form-container">
            <div>
                {{ form_row(form.site) }}
            </div>
            <div>
                {{ form_row(form.inputSearch) }}
            </div>
            <div>
                {{ form_row(form.dateMin) }}
            </div>
            <div>
                {{ form_row(form.dateMax) }}
            </div>
            <div>
                {{ form_row(form.isOrganisateur) }}
                {{ form_row(form.isInscrit) }}
                {{ form_row(form.isNotInscrit) }}
                {{ form_row(form.ended) }}
                <button type="submit" class="btn btn-primary">
                    Rechercher
                </button>
                <a href="{{ path('app_home') }}" class="btn btn-secondary">
                    Réinitialiser les filtres
                </a>
            </div>




        </div>
    {{ form_end(form) }}
    <section class="sorties-list">
        {% for sortie in sorties %}

            {% if sortie.etat.code == 'CRE' and sortie.organisateur.username == app.user.username %}
                {% set classVisible="card card-visibilityOn" %}
                {% elseif sortie.etat.code == 'CRE' and not (sortie.organisateur.username == app.user.username) %}
                    {% set classVisible="card card-visibilityOff" %}
                {% elseif sortie.etat.code == 'FIN' %}
                    {% set classVisible="card card-visibility50" %}
                {% else %}
                    {% set classVisible="card card-visibilityOn" %}
            {% endif %}
                <div class="{{ classVisible }}" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ path('app_sortie_detail', {id : sortie.id}) }}">{{ sortie.nom }}</a></h5>
                        <p class="card-text">Organisé par
                            <a href="{{ path('app_user_detail', {username : sortie.organisateur.username}) }}">
                                {{ "%s %s." | format(sortie.organisateur.prenom,sortie.organisateur.nom | first) }}
                            </a>
                        </p>
                        {% if sortie.id in inscriptions %}
                            <span class="badge text-bg-success">Inscrit</span>
                        {% endif %}
                        {% if sortie.organisateur.username == app.user.username %}
                            <span class="badge text-bg-info">Organisateur</span>
                        {% endif %}
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span>Date de la sortie </span> {{ sortie.dateHeureDebut | date('d/m/Y H:i') }}</li>
                        <li class="list-group-item"><span>Clotûre </span>{{ sortie.dateLimiteInscription | date('d/m/Y')}}</li>
                        <li class="list-group-item">{{ sortie.inscriptions | length }} /
                            {{ sortie.nbInscriptionsMax }} inscrits</li>
                        <li class="list-group-item">{{ sortie.etat.libelle }}</li>
                    </ul>
                    <div class="card-body">
                        {% if is_granted(('IS_AUTHENTICATED')) %}
                            {% if sortie.id in inscriptions %}
                                {% if not (sortie.organisateur.username == app.user.username) %}
                                <a href="{{ path('app_sortie_desinscription', {id : sortie.id, _token: csrf_token('inscription_delete' ~ sortie.id)}) }}" class="btn btn-outline-danger">Se désister</a>

                                {% endif %}
                                {% elseif not(sortie.etat.code in ['ANN', 'FIN']) %}
                                    <a href="{{ path('app_sortie_inscription', {id: sortie.id, _token: csrf_token('inscription_create' ~ sortie.id)}) }}" class="btn btn-outline-success">S'inscrire</a>
                                    {% else %}

                            {% endif %}
                            {% if sortie.organisateur.username == app.user.username %}
                                {% if sortie.etat.code == 'CRE' %}
                                    <a href="{{ path('app_sortie_modifier', {id: sortie.id}) }}" class="btn btn-secondary" target="_self">Modifier</a>
                                    {% elseif not(sortie.etat.code in ['ANN', 'FIN']) %}
                                        <a href="{{ path('app_sortie_annuler', {id: sortie.id}) }}" class="btn btn-warning" target="_self">Annuler</a>
                                    {% endif %}
                            {% endif %}
{#                            <a href="{{ path('app_sortie_detail', {id : sortie.id}) }}" class="btn btn-secondary">Afficher</a>#}
                        {% endif %}
                    </div>
                </div>
        {% else %}
            <p class="alert alert-danger notFound">Pas de sortie correspondant au(x) critère(s) choisi(s)</p>
        {% endfor %}


    </section>
    {# Pagination #}
    {% include '/parts/_paginator.html.twig' %}






{% endblock %}
