{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Gestion{% endblock %}
{% block body %}

    <div class="container-fluid mt-5 d-flex justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <div class="card shadow-lg border-0 rounded-4">

                <div class="card-body p-5">
                    <div class="d-flex justify-content-end">
                        <a href="{{ path('app_register') }}" class="btn btn-success">Ajouter Un Utilisateur</a>
                    </div>


                    <h2 class="text-center mb-4">Gestion des participants</h2>


                    <div class="table-responsive">
                        <table class="table table-hover table-striped border">

                            <thead class="table-light">
                            <tr>
                                <th>Pseudo</th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Email</th>
                                <th>Téléphone</th>
                                <th>Actif</th>
                                <th>Rôle</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users |sort ((a, b) => b.roles <=> a.roles ?: a.username|lower <=> b.username|lower)%}
                                <tr>
                                    <td>
                                        <a href="{{ path('app_user_detail', {username : user.username}) }}">{{ user.username }}</a>
                                    </td>
                                    <td>{{ user.nom|upper }}</td>
                                    <td>{{ user.prenom | capitalize }}</td>
                                    <td>{{ user.mail }}</td>
                                    <td>{{ user.telephone }}</td>

                                    {% if user.actif == 1 %}
                                        <td>
                                            <label for="actif">Actif</label>
                                            {% if user.userIdentifier != app.user.userIdentifier %}
                                                <input id="actif" type="checkbox" checked>
                                            <a href="{{ path('app_inactif', {id: user.id, _token: csrf_token('inactif' ~ user.id)}) }}"
                                               class="btn btn-outline-success btn-sm ms-lg-4">Mettre à jour</a></td>
                                            {% endif %}
                                    {% else %}
                                        <td><input id="inactif" type="checkbox">
                                            <label for="inactif">Inactif</label>
                                            <a href="{{ path('app_actif', {id: user.id, _token: csrf_token('actif' ~ user.id)}) }}"
                                               class="btn btn-outline-success btn-sm  ms-sm-0 ms-lg-3">Mettre à jour</a></td>
                                    {% endif %}
                                    {% if 'ROLE_ADMIN' in user.roles %}
                                            <td><label for="admin">Admin</label>
                                                {% if user.userIdentifier != app.user.userIdentifier %}
                                                    <input id="admin" type="checkbox" checked>
                                                    <a href="{{ path('app_role_user', {id: user.id, _token: csrf_token('role_admin' ~ user.id)}) }}"
                                                       class="btn btn-outline-success btn-sm ms-1">Mettre à jour</a></td>
                                                {% endif %}
                                        {% else %}
                                            <td><input id="user" type="checkbox">
                                                <label for="user">User</label>
                                                <a href="{{ path('app_role_admin', {id: user.id, _token: csrf_token('role_admin' ~ user.id)}) }}"
                                                   class="btn btn-outline-success btn-sm  ms-sm-0 ms-lg-3">Mettre à jour</a></td>
                                        {% endif %}

                                </tr
                            {% else %}
                                <tr>
                                    <td colspan="3" class="text-center text-muted">
                                        Aucun participant inscrit pour le moment.
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}
