{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}

    <div class="container-fluid mt-5 d-flex justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <div class="card shadow-lg border-0 rounded-4">
                <div class="card-body p-5">

                    <h1 class="text-center mb-4">Votre Profil</h1>

                    <div class="row justify-content-center">
                        <div class="col-12 col-md-8">

                            {{ form_start(user_form) }}
                            <div class="row justify-content-center">
                            {% if user.urlPhoto is defined %}
                                <img src="{{ asset('images/users/' ~user.urlPhoto) }}" alt="Photo Profil" class="img-thumbnail"
                                     style="max-width:300px;">
                            {% endif %}
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    {{ form_row(user_form.username) }}
                                </div>
                                <div class="col-md-6 mb-3">
                                    {{ form_row(user_form.prenom) }}
                                </div>
                                <div class="col-md-6 mb-3">
                                    {{ form_row(user_form.nom) }}
                                </div>
                                <div class="col-md-6 mb-3">
                                    {{ form_row(user_form.telephone) }}
                                </div>
                                <div class="col-md-6 mb-3">
                                    {{ form_row(user_form.mail) }}
                                </div>
                                <div class="col-md-6 mb-3">
                                    {{ form_row(user_form.site) }}
                                </div>

                                <div class="col-md-6 mb-3">
                                    {{ form_row(user_form.currentPassword) }}
                                </div>
                                <div class="col-md-6 mb-3">
                                    {{ form_row(user_form.newPassword.first) }}
                                </div>
                                <div class="col-md-6 mb-3">
                                    {{ form_row(user_form.imgProfil) }}
                                </div>
                                <div class="col-md-6 mb-3">
                                    {{ form_row(user_form.newPassword.second) }}
                                </div>


                            </div>

                            <div class="d-flex gap-2 mt-4">
                                <button type="submit" class="btn btn-success flex-fill">
                                    Enregistrer
                                </button>

                                <a href="{{ path('app_home') }}" class="btn btn-secondary flex-fill">
                                    Annuler
                                </a>
                            </div>

                            {{ form_end(user_form) }}

                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
