{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    <div class="mx-auto w-75 text-center mt-2">

        <div class="row justify-content-center text-center  mx-auto ">
            <h1>Votre Profil</h1>
            <div class="col-12 col-md-6 text-start mb-5">
                <div class="row align-items-start">
                    <div class="col-5">
                        <p>Notre futur image</p>
                    </div>
                    <div class="col-7">
                        {{ form_start(user_form) }}

                        {{ form_row(user_form.username) }}
                        {{ form_row(user_form.prenom) }}
                        {{ form_row(user_form.nom) }}
                        {{ form_row(user_form.telephone) }}
                        {{ form_row(user_form.mail) }}
                        {{ form_row(user_form.plainPassword) }}
                        {{ form_row(user_form.site) }}
                        {{ form_row(user_form.lienImgFile) }}
                        <div class ="d-flex justify-content-center gap-3 mt-4">
                            <button type="submit" class="btn btn-outline-success">Enregistrer</button>
                            <a href="{{ path('app_home') }}" class="btn btn-outline-dark">Annuler </a>
                        </div>
                        {{ form_end(user_form) }}
                    </div>
                </div>


            </div>
        </div>

    </div>
{% endblock %}
